// Colors
$off-black: #232c23;
$off-white: #5d9244;
$white: #dfdddd;
$dark: #2c3a2c;
$less-dark: #304730;
$light-of-dark: #345534;
$light-green: #447030;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
